doctype 5
html
  head
    title
      | kragnoth
      block title
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='noindex, nofollow') // TODO: Remove.
    link(rel='shortcut-icon', href='/favicon.png')
    link(rel='stylesheet', href='/style/global.css')
    block head
  body

    block content

    != renderJs()
    block scripts
