extends base

block content

  h1
    | Krag'noth
    if locals.entryPoint
      | : #{ entryPoint } 

append scripts
  script(src="/lib.js")
  if locals.entryPoint
    script
      $(function() {
        runEntryPoint("#{ entryPoint }");
      });
  else
    p (no entryPoint)

