html
  head
    title Kragnoth
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', type='text/css', href='/style/main.css')
  body
    script.
      argv = !{ JSON.stringify(argv.opts()) };
    script(src='/main.js')
