html
  head
    title Kragnoth
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', type='text/css', href='/style/main.css')
  body.vert-grid

    div.legend.ui
      strong Keys:
      | HJKL / YUBN / arrows to move-attack,
      | comma to pickup items,
      | &lt; and &gt; to go up and down stairs.
      | Click an inventory item to wield it.

    div(ng-cloak)#map-container.vert-fill
      canvas#map

    div(ng-controller='UIController', ng-cloak).grid.ui
      div.grid-cell.messages
        h1(ng-show='status') {{ status }}
        div(ng-repeat='set in messages', ng-class='{"old": !$first}')
          div(ng-repeat='m in set') {{ m }}
      div(ng-show='connected').grid-cell
        div: strong {{ player.name }} - {{ levelName }}
        div Gold: {{ player.gold }}
        div HP: {{ player.hp }} / {{ player.maxHp }}
        div Weapon: {{ player.weapon.name || 'empty-handed' }}
        hr
        div {{ player.items.length }} items
        div(ng-repeat='item in player.items', ng-mousedown='choose(item)')
          | · {{ item.name }}
      div(ng-show='connected').grid-cell
          | Tick: {{ tick }}

    script.
      argv = !{ JSON.stringify(argv.opts()) };
    script(src='/main.js')
