doctype 5
html

  head
    title Dungeons of Krag'noth
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='noindex, nofollow') // TODO: Remove.
    link(rel='shortcut-icon', href='/favicon.png')
    link(rel='stylesheet', href='/style/web-client.css')

  body

    h1 Krag'noth Client

    div.row
      div.col-12.col-lg-8
        | TODO: GUI
      div.col-6.col-lg-4
        | TODO: Messages

    script(src='/third-party/jquery/jquery.min.js')
    script(src='/web-client.js')
