body
  background: black
  color: white
  font-family: sans-serif

body, img, canvas, *
  image-rendering: pixelated
  -webkit-image-rendering: pixelated

[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important

.grid
  display: flex
  .grid-cell
    flex: 1

.vert-grid
  display: flex
  flex-direction: column
  max-height: 100vh
  .vert-fill
    flex: 1

.ui
  padding: 10px

.legend
  color: grey

.messages
  color: yellow
  .old
    opacity: 0.5

.status
  animation: blink 2s infinite
  -webkit-animation: blink 2s infinite

#map
  border: 1px solid grey
#map-container
  overflow: scroll

@keyframes blink {
  0% { opacity: 1.0 }
  20% { opacity: 0.2 }
  40% { opacity: 1.0 }
  100% { opacity: 1.0 }
}
