body
  background: black
  color: white
  font-family: sans-serif

body, img, canvas, *
  image-rendering: pixelated
  -webkit-image-rendering: pixelated

.ng-cloak, *[ng-cloak]
  display: none

.grid
  display: flex
  .grid-cell
    flex: 1

.legend
  color: grey

.messages
  color: yellow
  .old
    opacity: 0.5

#map
  border: 1px solid grey
